@import '_content/Blazored.Modal/Blazored.Modal.bundle.scp.css';
@import '_content/CRM.App.Shared/CRM.App.Shared.azzl73ar6n.bundle.scp.css';
@import '_content/Microsoft.AspNetCore.Components.QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.boiwgh0w5b.bundle.scp.css';

