@import '_content/Blazored.Modal/Blazored.Modal.bundle.scp.css';
@import '_content/CRM.App.Shared/CRM.App.Shared.3bgjehj650.bundle.scp.css';
@import '_content/Microsoft.AspNetCore.Components.QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.boiwgh0w5b.bundle.scp.css';
@import '_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.ewdlgswx1m.bundle.scp.css';

