/* Permite que la barra de la DataGrid haga wrap */
/*::deep(.mud-datagrid-toolbar),
.dg-toolbar {
    display: flex;
    flex-wrap: wrap;*/ /* clave */
    /*align-items: center;
    gap: .5rem;
    width: 100%;
    height: 100%;
}*/

/* Título: que pueda romper y ocupe línea completa en móvil */
/*.dg-title {
    white-space: normal;*/ /* rompe líneas */
    /*word-break: break-word;
    line-height: 1.2;
    flex: 1 1 100%;*/ /* una fila entera en móvil */
    /*font-size: clamp(0.95rem, 2.8vw, 1.1rem);
}*/

/* Buscador: flexible y sin causar overflow */
/*.dg-search {
    flex: 1 1 260px;*/ /* crece/encoge */
    /*min-width: 0;*/ /* evita desbordes */
/*}*/

/* El spacer estorba en móvil */
/*.dg-spacer {
    display: none;
}*/

/* Desde md en adelante: título a la izquierda, buscador a la derecha */
/*@media (min-width: 960px) {
    .dg-title {
        flex: 0 1 auto;
        margin-right: auto;*/ /* empuja el buscador a la derecha */
    /*}

    .dg-search {
        flex: 0 1 360px;
    }

    .dg-spacer {
        display: block;
    }
}*/
