/* Asegura que el body no haga scroll elástico en iOS/Android */



/*html, body {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}*/

/* Área de contenido: deja espacio arriba (AppBar) y abajo (Tabs) */
/*.native-content-area {
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 70px;*/ /* Altura de la barra de tabs */
    /*padding-top: env(safe-area-inset-top);*/ /* Soporte para Notch */
/*}*/

/* Barra de navegación inferior fija */
/*.bottom-nav-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 65px;
    background-color: var(--mud-palette-surface);
    border-top: 1px solid var(--mud-palette-divider);
    display: flex;
    align-items: center;
    padding-bottom: env(safe-area-inset-bottom);*/ /* Espacio para barra de gestos de iPhone/Android */
    /*z-index: 1000;
}*/

    /* Ajuste de los iconos de los Tabs para que parezcan nativos */
    /*.bottom-nav-bar .mud-nav-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.75rem;
        padding: 8px 0 !important;
    }

        .bottom-nav-bar .mud-nav-link .mud-nav-link-icon {
            margin-right: 0 !important;
            margin-bottom: 4px;
        }

.status-bar-safe-area {
    display: none;
}

@supports (-webkit-touch-callout: none) {
    .status-bar-safe-area {
        display: flex;
        position: sticky;
        top: 0;
        height: env(safe-area-inset-top);
        background-color: #f7f7f7;
        width: 100%;
        z-index: 1;
    }

    .flex-column, .navbar-brand {
        padding-left: env(safe-area-inset-left);
    }
}*/
