@page "/home"
@using CRM.App.Shared.Componentes
@using CRM.App.Shared.Services
@inject IFormFactor FormFactor

@if(!FormFactor.IsNativeApp)
{
        <PageTitle>Home</PageTitle>

        <h1>Hello, world!</h1>
}
else
{
    <XAMLEscapeTrigger PageRoute="ListadoTramites" />
}


@code {
    private string factor => FormFactor.GetFormFactor();
    private string platform => FormFactor.GetPlatform();



}
